font-face {
    font-family: 'BadaBoom BB';
    src: url('../fonts/BadaBoomBB.eot');
    src: url('../fonts/BadaBoomBB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BadaBoomBB.woff2') format('woff2'),
        url('../fonts/BadaBoomBB.woff') format('woff'),
        url('../fonts/BadaBoomBB.ttf') format('truetype'),
        url('../BadaBoomBB.svg#BadaBoomBB') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NS Sans';
    src: url('../fonts/NSSans-Bold.eot');
    src: url('../fonts/NSSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NSSans-Bold.woff2') format('woff2'),
        url('../fonts/NSSans-Bold.woff') format('woff'),
        url('../fonts/NSSans-Bold.ttf') format('truetype'),
        url('../fonts/NSSans-Bold.svg#NSSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NS Sans';
    src: url('../fonts/NSSans.eot');
    src: url('../fonts/NSSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NSSans.woff2') format('woff2'),
        url('../fonts/NSSans.woff') format('woff'),
        url('../fonts/NSSans.ttf') format('truetype'),
        url('../fonts/NSSans.svg#NSSans') format('svg');
    font-weight: 400;
    font-style: normal;
}

/*==================================
Base CSS
==================================*/

Body {

    margin: 0;
    padding: 0;
    background-color: #E6E6E9;
    font-family: 'NS Sans';
}

/*==================================
Inloggen header
==================================*/


header {
    display: flex;
    padding: 1rem;
    height: auto;
    font-size: 0.9rem;
}

header .logo img {
    width: 4rem;
    padding: 1rem 1rem 0 1rem;
}

.doorlink {
    margin: 1rem 0 0 5.5rem;
    text-decoration: none;
    color: #003082;
    margin-left: 10.6rem;
}

.doorlink:visited {
    color: #003082;
}

.doorlink:hover {
    color: #0077D6;
}

/*==================================
Inloggen block
==================================*/
article {
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 0.6rem;
}

article h1 {
    margin-left: 1rem;
    font-size: 1.7rem;
    font-weight: 100;
    color: #003082;

}

.email,
.password {
    max-width: 11rem;
    flex-wrap: wrap;
}

.email label,
.email input,
.password label,
.password input {
    width: 100%;
}

form {
    background-color: #FEC835;
    padding: 1rem;
    margin: 1rem;
    color: #003082;
}

fieldset {
    border: none;
    padding: 1rem 0rem 2rem;

}

article form legend {
    padding: 1rem 0rem;
    font-size: 1.4rem;
}

article fieldset .email {
    display: flex;

}

.leesverder {
    background-color: #0077D6;
    width: 5rem;
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 1rem 0rem 1rem;
    color: white;
    display: block;
    text-decoration: none;
}

/*button {
    background-color: #0077D6;
    width: 5rem;
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 1rem 0rem 1rem;
    color: white;
    display: block;
}*/

/*==================================
Waarom NS block?
==================================*/

article aside {

    color: #223974;
    padding: 1rem;
}

article aside a {

    color: #0077D6;
    text-decoration: none;
}
